.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  padding: 30px;

  border: 1px solid red;
}

.topContainer {
	display: flex;
	justify-content: space-between;

	border: 1px solid green;
}

.mainContainer {
	display: flex;
	justify-content: space-between;
	flex: 1;
	border: 1px solid green;
	gap: 30px;
}

.membersContainer, .statusContainer {
	display: flex;
	flex-direction: column;
	flex: 2;
	padding: 10px;
	gap: 10px;

	border: 1px solid red;
}

.sidebarMembers {
	flex: 1;
	border: 1px solid black;
}

.member {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.editorContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 4;
}

textarea {
	resize: none;
}

.codeEditor {
	display: flex;
	flex-direction: column;
	height: 75%;
	overflow: auto;

	border: 1px solid red;
}

.inputOutput {
	display: flex;
	height: 100px;
	overflow-y: auto;
	gap: 10px;

/*	border: 1px solid red;*/
}

.inputOutput div {
	display: flex;
	flex-direction: column;
	flex: 1;

/*	border: 1px solid red;*/
}

.inputEditor, .outputArea {
	flex: 1;
	width: 100%;
	border: 1px solid black;
}

.outputArea {
	white-space: pre-wrap;
	overflow-y: auto;
}

.runBtn {
	padding: 10px;
}

.submissionArea {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	gap: 10px;
	flex: 1;

	border: 1px solid blue;
}